services:
  database:
    container_name: sqlite_db
    build:
      context: ./data
      dockerfile: Dockerfile
    volumes:
      - type: bind
        source: ./data
        target: /data/
    networks:
      - mynet

  backend:
    container_name: FastAPI
    depends_on:
      database:
        condition: service_started
    build:
      context: ./backend
      dockerfile: Dockerfile
    networks:
      - mynet
    volumes:
      - type: bind
        source: ./data
        target: /data/
    environment:
      - DATABASE_PATH=/data/app.db
    ports:
      - "81:81"
    restart: unless-stopped

  frontend:
    container_name: Streamlit
    depends_on:
      backend:
        condition: service_started
    build:
      context: ./frontend
      dockerfile: Dockerfile
    networks:
      - mynet
    volumes:
      - ./frontend:/frontend/
    environment:
      - BACKEND_URL=http://backend:81
    ports:
      - "8501:8501"
    restart: unless-stopped

  client:
    container_name: Client
    depends_on:
      backend:
        condition: service_started
    build:
      context: ./client
      dockerfile: Dockerfile
    networks:
      - mynet
    environment:
      - BACKEND_URL=http://backend:81
    devices:
      - /dev/snd:/dev/snd
    group_add:
      - audio
    volumes:
      - /dev/bus/usb:/dev/bus/usb
    restart: unless-stopped

volumes:
  data:

networks:
  mynet:
    driver: bridge
